name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * 1"


jobs:
  helloworld:
    runs-on: ubuntu-20.04

    steps:
      - name: Greetings from Github Actions
        run: echo Hello World
